html, body {
	margin:0px;
	min-width: 810px;
	font-family: "arial";
	overflow:hidden;
	background-color: #f6f6f6;
}

p {
	padding: 5px;
}

#container {	
	width:807px; 
	height: 583px;	
	position: absolute;
	top: 50%;
	left: 50%;	
	margin: -360px 0 0 -403px;
}

#logo {
	padding: 3px;
	width: 144px;
	height: 119px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../images/logo.jpg");
	background-repeat: no-repeat;
}

#content {
	width:807px; 
	height: 464px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
}

.loader {
	width: 400px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../images/hex-loader.gif");
	background-repeat: no-repeat;
	background-position: right 65px;
	color: #4a4a4a;
}

.loader_text {
	text-align:center;
	font-family: "arial";
	font-size: 14px;
	padding-top: 260px;
	-webkit-user-select: none;
}

#welcome {
	z-index: 1;	
}

#loader_facts {
	z-index: 2;	
}

#loader_questions {
	z-index: 3;	
}

#welcomeBtnContainer {
	padding-top: 20px;
	text-align:center;	
}

.welcomeTitle {
	padding-top: 70px;
	padding-left: 40px;
	color: #4a4a4a;
	font-size: 48px;
	-webkit-user-select: none;
}

.welcomeBody {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 15px;
	color: #4a4a4a;
	font-size: 18px;
	-webkit-user-select: none;
}

.questionTitle {
	padding-top: 40px;
	padding-left: 40px;
	color: #4a4a4a;
	font-size: 36px;
	-webkit-user-select: none;
}

.questionSubtitle {
	padding-top: 8px;
	padding-left: 40px;
	color: #4a4a4a;
	font-size: 14px;
	-webkit-user-select: none;
}

.questionSubtitle2 {
	padding-top: 8px;
	padding-left: 40px;
	padding-bottom: 10px;
	color: #4a4a4a;
	font-size: 14px;
	-webkit-user-select: none;
}

.questionNumber {
	padding-top: 8px;
	padding-left: 40px;
	color: #4a4a4a;
	font-size: 14px;
	-webkit-user-select: none;
}

.fact {
	padding-top: 60px;
	padding-left: 25px;
	padding-right: 25px;
	text-align:center;
	color: #343535;
	font-size: 22px;
	-webkit-user-select: none;
}

.question {
	padding-top: 30px;
	padding-left: 70px;
	padding-right: 25px;
	text-align:left;
	color: #343535;
	font-size: 22px;
	-webkit-user-select: none;
}

#radioContainer {
	padding-top: 50px;
	padding-bottom: 40px;
	width: 807px;
	text-align:center;
}

.radiogroup {
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.radiogroup label {
	padding-top: 5px;
	display: block;
	font-size: 18px;
	color: #4a4a4a;
	-webkit-user-select: none;
}

#radioContainer2 {
	padding-top: 25px;
	padding-bottom: 0px;
	padding-left: 90px;
	width: 717px;
	text-align:left;
}

.radiogroup2 {
	padding: 10px;
	text-align: left;
}

.radiogroup2 label {
	padding-top: 5px;
	font-size: 18px;
	color: #4a4a4a;
	-webkit-user-select: none;
}

#radioContainer3 {
	position: relative;
	margin-left: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 600px;
	text-align:left;
}

.radiogroupBtn {
	padding-left: 15px;
	padding-bottom: 5px;
	display: inline-block;
}

.radiogroupBtn label {
	padding-left: 4px;
	padding-right: 10px;
	font-size: 10px;
	color: #4a4a4a;	
	-webkit-user-select: none;
}

input { vertical-align: middle; margin-top: 0px;}

#factBtnContainer {
	padding-top: 20px;
	text-align:center;	
}

#questionBtnContainer {
	margin-top: -10px;
	text-align:center;	
}

#review_score {
	padding-top: 30px;
	padding-left: 40px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #4a4a4a;
	font-family:"arial";
	-webkit-user-select: none;
}

#review_question {
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 5px;
	font-size: 18px;
	color: #4a4a4a;
	font-family:"arial";
	-webkit-user-select: none;
}

.interview_question {
	padding-top: 5px;
	padding-left: 40px;
	padding-bottom: 5px;
	display: inline-block;
	font-size: 11px;
	color: #4a4a4a;
	font-family:"arial";
	-webkit-user-select: none;
	background-color: bisque;
}

.interview_question2 {
	padding-top: 5px;
	padding-left: 40px;
	padding-bottom: 5px;
	display: inline-block;
	font-size: 11px;
	color: #4a4a4a;
	font-family:"arial";
	-webkit-user-select: none;
	background-color: beige;
}

.adjective {	
	font-size: 14px;
	color: #4a4a4a;
	font-family:"arial";
	display: inline-block;
	float: left;
	-webkit-user-select: none;
}

.questionReview {
	padding-left: 0px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #4a4a4a;
	font-family:"arial";
	-webkit-user-select: none;
}

.questionReviewFeedbackCorrect {
	padding-top: 10px;
	padding-left: 90px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #4a4a4a;
	font-family:"arial";
	background-image: url("../images/checkmark.png");
	background-repeat: no-repeat;
	background-position: 40px 0px;
	-webkit-user-select: none;
}

.questionReviewFeedbackIncorrect {
	padding-top: 10px;
	padding-left: 90px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #4a4a4a;
	font-family:"arial";
	background-image: url("../images/xcheckmark.png");
	background-repeat: no-repeat;
	background-position: 40px 0px;
	-webkit-user-select: none;
}

#copyright {
	padding-top: 3px;
	padding-left: 600px;
	height: auto;
	color: #4a4a4a;
	font-size: 0.7em;
}

